.card {
  // FUNTIONALITY
  perspective: 150rem; // help the rotation work by turn from page towards the user to the other end
  -moz-perspective: 150rem; // to work on mozilla firefox brws
  position: relative;
  height: 52rem; // just like float collapses the height of an element we use clearfix
  // on the parent so does position that's why we put the height also on the parent div.card

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    backface-visibility: hidden; // just like clearfix does to float,
    // overflow to excess writeup, so does this help hide the back part
    // when two things are on each for the rotation in :hover to take effect

    // position: relative;
    overflow: hidden; // the card picture is overflowing it parent(__side)
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: #fff; // must take the same bkgrnd color as the parent card
    }

    &--back {
      // has been hovered but need to put the text in the right positions
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  // .card: .card__side--front {}// here the hover will take place when we hover over the parent(card)

  &:hover &__side--back {
    transform: rotateY(
      0
    ); // when on the back :hover to 0deg(just like it won't rotate hee)
  }
  // .card: .card__side--back {}// here the hover will take place when we hover over the parent(card)

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; // instead of making the linear gradient colors opacity light(see through) use this for when u have 2 backgrnd
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); // work on all browsers
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
      // count from compiled style.css upward and not from the sass file
      // these images are gotten frm unsplash.com site(free img)
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; // it separate the element content as a sepaarte block for paddin & margin to apply
    // e.g: styling br tag separately

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; // top/bottom 0px left/right equally spaced

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    // to properly center it u used this transform:translate to move 50% back fro the element space
    transform: translate(-50%, -50%);
    width: 90%; // for the btn to fit well in
    text-align: center; // for the btn to fit well in
  }

  &__price-box {
    color: $color-white;
    text-align: center;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  // Media Query
  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      transition: all 0.8s ease;
      position: relative;
      box-shadow: none;

      &--back {
        // has been hovered but need to put the text in the right positions
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        // clip-path: polygon(0 x-axis 15% y-axis ,100% x-axis 0 y-axis );
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      // to properly center it u used this transform:translate to move 50% back fro the element space
      transform: translate(0);
      width: 100%; // for the btn to fit well in
      padding: 7rem 4rem 4rem 4rem;
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
